/* 登录界面的表单样式 */
#login_register #main .login {
    width: 398px;
    height: 436px;
    border: 1px solid #dcdcdc;
    float: left;
    margin-top: 53px;
}

#login_register #main .login form a {
    display: block;
    margin-top: 30px;
    font-size: 12px;
    width: 100px;
    margin-bottom: 15px;
}

#login_register #main .login form .forget_pass {
    float: left;
    color: #666;
}

#login_register #main .login form .register {
    float: right;
    color: #e50065;
    text-align: right;
}

#login_register #main .login .chat {
    width: 398px;
    height: 60px;
    margin-top: 214px;
}

#login_register #main .login .chat span {
    font-size: 14px;
    color: #666;
    line-height: 60px;
    margin-left: 40px;
}

#login_register #main .login .chat a {
    display: inline-block;
    width: 39px;
    height: 39px;
    background: url(../img/login_way.png) no-repeat;
    vertical-align: middle;
    margin-left: 5px;
    background-position-y: -138px;
}

#login_register #main .login .chat a:nth-of-type(2) {
    background-position-x: -46px;
}

#login_register #main .login .chat a:nth-of-type(3) {
    background-position-x: -89px;
}

#login_register #main .login .chat a:nth-of-type(4) {
    background-position-x: -133px;
}

/* 注册界面的样式 */
#login_register #main #register {
    width: 398px;
    height: 436px;
    border: 1px solid #dcdcdc;
    float: left;
    margin-top: 53px;
}

#login_register #main #register article {
    height: 60px;
    margin-top: 25px;
}

#login_register #main #register article .changecode {
    font-size: 12px;
    color: #797979;
    margin-bottom: 5px;
    text-align: right;
}

#login_register #main #register .info {
    font-size: 12px;
    margin-top: 5px;
    height: 12px;
}

#login_register #main #register form .password_info i {
    display: inline-block;
    width: 50px;
    text-align: center;
    margin-right: 1px;
}

#login_register #main #register form .password_info .active {
    background: #e50065;
}

#login_register #main #register form .password_info i:nth-of-type(1) {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#login_register #main #register form .password_info i:nth-of-type(3) {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#login_register #main #register article input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
}

#login_register #main #register article label {
    width: 119px;
    height: 40px;
    text-align: right;
    line-height: 40px;
    display: inline-block;
    font-size: 20px;
}

#login_register #main #register .button {
    margin-top: 3px;
}

#login_register #main #register #checkbox {
    width: 12px;
    height: 12px;
    font-size: 12px;
    margin-top: 20px;
}

#login_register #main #register .p {
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

/* 
    首页 
*/

/* 头部 */
#index #left_sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 36px;
    background: #000;
}

#index #left_sidebar .right-fix-menu-main {
    top: 25%;
    position: absolute;
}

body {
    color: #555;
    font-size: 12px;
    font-family: "å®‹ä½“";
    line-height: 22px;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 12px;
}

.right-fix-menu, .lit-tab, .menu-cart {
    background: none;
}

.rightsidebar-fl {
    float: left;
}

.rightsidebar-fr {
    float: right;
}
/* 左侧边栏 */
#left_sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 36px;
    background: #000;
    height: 100%;
}
#left_sidebar #user{
    background: url(../img/user.png) no-repeat;
    width: 36px;
    height: 20px;
    margin: 130px 0 0 7px;
    position: relative;
    display: block;
    cursor: pointer;
}
#left_sidebar #user .login_box{
    width: 300px;
    height: 200px;
    background: #fff;
    position: absolute;
    top: -4px;
    left: 29px;
    cursor: default;
    overflow: hidden;
    border: 1px solid #ccc;
    display: none;
}
#left_sidebar #user .login_box a {
    cursor: pointer;
}
#left_sidebar #user .login_box a {
    font-size: 14px;
    width: 70px;
    text-align: center;
    line-height: 20px;
    height: 20px;
    display: block;
    position: absolute;
}
#left_sidebar #user .login_box .img1{
    position: absolute;
    left: 114px;
    top: 24px;
}
#left_sidebar #user .login_box .img2{
    position: absolute;
    left: 27px;
    top: 36px;
}
#left_sidebar #user .login_box p{
    font-size: 12px;
}
#left_sidebar #user .login_box .username{
    position: absolute;
    top:45px;
    left: 118px;
}
#left_sidebar #user .login_box .usertype{
    position: absolute;
    top:80px;
    left: 118px;
}
#left_sidebar #user .login_box .login_in{
    background: #555;
    left: 63px;
    top:135px;
    color: #fff;
    border: 1px solid #555;
}
#left_sidebar #user .login_box .register_in{
    left: 163px;
    top:135px;
    border: 1px solid #111;
    color: #111;
}
#left_sidebar .sideBar{
    padding: 15px 0;
    border-top:1px solid #666;
    border-bottom:1px solid #666;
    margin-top: 10px;
    display: block;
    position: relative;
}
#left_sidebar .sideBar p:nth-of-type(1){
    background: url(../img/cart2.png) no-repeat 4px 0px;
    height: 18px;
    width: 36px;
}
#left_sidebar .sideBar p:nth-of-type(2){
    color: #fff;
    font-size: 14px;
    width: 14px;
    line-height: 20px;
    margin: 10px 0 0 9px;
}
#left_sidebar .sideBar p:nth-of-type(3){
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    background: red;
    text-align: center;
    margin: 5px 0 0 5px;
}
#left_sidebar .cartList{
    position: absolute;
    height: 100%;
    width: 300px;
    background: #eee;
    left: 36px;
    /* display: none; */
}
#left_sidebar .cartList .indexCart{
    padding: 15px;
    background: #fff;
}
#left_sidebar .cartList .indexCart .store{
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
#left_sidebar .cartList .title{
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    color: #999;
    text-indent: 2em;
    background: #ddd;
    color: #444;
    border-bottom: 1px solid #ccc;
}
#left_sidebar .cartList .shop_content{
    overflow: hidden;
}
#left_sidebar .cartList .onegood{
    width: 100%;
    padding:15px 0;
}
#left_sidebar .cartList img{
    width: 34px;
    float: left;
    padding:0 10px;
    border: 1px solid #ccc;
}
#left_sidebar .cartList .info{
    font-size: 12px;
    width: 200px;
    float: right;
}
#left_sidebar .cartList .shoptitle{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#e50065;
}
#left_sidebar .cartList .colorinfo{
    padding: 5px 0;
    color: #9f9f9f;
}
#left_sidebar .cartList .priceinfo{
    color: #e50065;
}
#left_sidebar .cartList .priceinfo .goodprice{
    font-weight: bold;
}

#left_sidebar .collect{
    width:18px;
    height: 16px;
    background: url(../img/heart.png) no-repeat;
    margin: 15px 0 0 7px;
    display: block;
}
#left_sidebar .wechat{
    width:36px;
    height: 16px;
    background: url(../img/wechat.png) no-repeat;
    margin: 20px 0 0 7px;
    position: relative;
    display: block;
}
#left_sidebar .wechat img{
    position: absolute;
    left: 29px;
    top: -167px;
    display: none;
}
#left_sidebar .out{
    width:36px;
    height: 36px;
    background: url(../img/out.png) no-repeat;
    margin: 10px 0 0 0;
    display: block;
}
#left_sidebar .top{
    width:22px;
    height: 23px;
    background: url(../img/top.png) no-repeat;
    margin: 200px 0 0 7px;
    display: block;
}
#index .stairs {
    position: fixed;
    right: -10px;
    top: 57px;
    display: none;
}

#index header {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #ccc;
    background: #222;
}

#index section {
    overflow: visible;
}

#index header div {
    float: left;
}

#index header ul {
    float: right;
    margin: 8px;
}

#index header ul li {
    float: left;
    padding: 0 12px;
    height: 20px;
    position: relative;
}

#index header ul .chat img {
    position: absolute;
    z-index: 10;
    top: 23px;
    display: none;
}

#index header ul li a {
    font-size: 12px;
    color: #fff;
    margin-top: 8px;
    display: inline-block;
}

/* 分类图 */
#index #other {
    background: #f6f6f6;
    height: 48px;
}

#index #other a {
    display: block;
    float: left;
}

/* 搜索 */
#index #search {
    height: 150px;
    overflow: visible;
}

#index #search a {
    width: 320px;
    display: inline-block;
}

#index #search div {
    float: left;
}

#index #search img {
    display: inline-block;
}

#index #search .search {
    width: 538px;
    height: 31px;
    border: 2px solid #e50163;
    margin-top: 41px;
    margin-left: 49px;
    position: relative;
    position: relative;
}

#index #search .search input:nth-child(1) {
    width: 451px;
    height: 25px;
    border: 0;
    outline: none;
    display: block;
    float: left;
    text-indent: 1em;
}

#index #search .search input:nth-child(2) {
    width: 87px;
    height: 31px;
    background: #e50163;
    border: 0;
    color: #fff;
    font-size: 16px;
    outline: none;
    display: block;
    float: left;
    position: absolute;
    right: 0;
}

#index #search .search .result {
    position: absolute;
    top: 33px;
    width: 450px;
}

#index #search .search .result aside {
    width: 400px;
    height: 30px;
    background: #fff;
    line-height: 30px;
    text-indent: 1em;
    font-size: 12px;
    color: #aaa;
    cursor: pointer;
}

#index #banner {
    overflow: hidden;
}

/* 导航条 */
#nav {
    list-style: none;
    height: 30px;
}

#nav ul {
    margin-left: 280px;
}

#nav li {
    float: left;
    padding: 0 15px;
}

#nav li a {
    font-size: 14px;
    color: #727272;
}

/* banner图 */
#index #banner a {
    width: 100%;
    display: block;
}

/* 分类内容 */
#main ul {
    margin: 0 auto;
    width: 1208px;
    height: 46px;
}

#main section {
    overflow: hidden;
}

#main ul li {
    width: 137px;
    height: 44px;
    border: 1px solid #fd2e42;
    float: left;
    margin-right: 12px;
}

#main ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    color: #fd2e42;
}

#main ul li .active {
    background: #fd2e42;
    color: #fff;
}

/* 详情页 */
/* 头部 */
#detail header {
    background: #f5f5f5;
    height: 29px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

#detail header ul:first-child {
    float: left;
    margin-top: 5px;
}

#detail header ul:first-child li {
    float: left;
    margin-right: 10px;
}

#detail header ul:first-child li span:nth-child(1) {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

#detail header ul:first-child li:nth-child(1) span {
    background: url(../img/index.png) no-repeat center top;
}

#detail header ul:first-child li:nth-child(2) span:nth-child(1) {
    background: url(../img/zheng.png) no-repeat center center;
}

#detail header ul:first-child li a {
    color: #999;
    font-size: 12px;
}

#detail header ul:first-child li span {
    color: #999;
    font-size: 12px;
}

#detail header ul:last-child {
    float: right;
    margin-top: 5px;
}

#detail header ul:last-child li {
    float: left;
    padding: 0 10px;
}

#detail header ul:last-child li a {
    font-size: 12px;
    color: #999;
}

/* serach */
#detail #search {
    height: 89px;
    width: 100%;
}

#detail #search article {
    float: left;
}

#detail #search article div {
    float: left;
}

#detail #search article div:nth-child(1) {
    margin-top: 30px;
}

#detail #search article div:nth-child(2) {
    margin-top: 25px;
    margin-left: 20px;
}

#detail #search article div:nth-child(2) p:first-child {
    color: #555;
    font-size: 12px;
    line-height: 16px;
}

#detail #search article div:nth-child(2) p:last-child {
    color: #fff;
    font-size: 12px;
    width: 54px;
    height: 16px;
    background: #000;
    text-align: center;
    line-height: 16px;
}

#detail #search aside {
    float: right;
    margin-top: 25px;
}

#detail #search aside div {
    float: left;
    width: 522px;
    height: 36px;
    background: #e40462;
}

#detail #search aside div input:first-child {
    width: 428px;
    height: 28px;
    border: 0;
    outline: none;
    margin-left: 3px;
    margin-top: 3px;
}

#detail #search aside div input:last-child {
    width: 84px;
    height: 28px;
    border: 0;
    outline: none;
    background: #e40462;
    color: #fff;
    cursor: pointer;
}

#detail #search aside > input {
    float: left;
    width: 95px;
    height: 36px;
    color: #fff;
    display: block;
    background: #000;
    border: 0;
    margin-left: 5px;
    cursor: pointer;
}

/* 导航栏 */
#detail nav {
    background: #ac0c70;
    height: 33px;
}

#detail nav li {
    list-style: none;
    float: left;
    height: 33px;
    border-right: 1px solid #900040;
    padding: 0 49px;
}

#detail nav li a {
    display: block;
    color: #fff;
    text-align: center;
    line-height: 33px;
    font-size: 14px;
}

/* 商品详情信息 */
#detail main {
    margin-top: 30px;
}

#detail main article {
    float: left;
    position: relative;
}

#detail main article div:first-child {
    width: 380px;
    height: 514px;
    position: relative;
    margin-top: 25px;
}

#detail main article div:last-child {
    width: 380px;
    height: 70px;
    margin-top: 12px;
}

#detail main article div:last-child span {
    height: 70px;
    width: 13px;
    float: left;
    cursor: pointer;
}

#detail main article div:last-child span:first-child {
    background: url(../img/slon.png) no-repeat center;
}

#detail main article div:last-child span:last-child {
    background: url(../img/sron.png) no-repeat center;
    float: right;
}

#detail main aside {
    float: left;
    width: 600px;
    padding-left: 50px;
}

#detail main aside h2 {
    font-size: 18px;
    margin-top: 27px;
}

#detail main aside .price {
    font-size: 18px;
    margin-top: 27px;
    width: 564px;
    height: 138px;
    background: url(http://i0.mbscss.com/img/moonbasa2/item/goods_price_bg.png) no-repeat;
    overflow: hidden;
}

#detail main aside .price span {
    display: block;
    float: left;
    color: #e50065;
}

#detail main aside .price p {
    margin-top: 73px;
    color: #e50065;
    font-size: 12px;
    margin-left: 25px;
    float: none;
}

#detail main aside .color {
    width: 394px;
    height: 190px;
    margin-top: 40px;
}

#detail main aside p {
    width: 34px;
    float: left;
    color: #666;
    font-size: 12px;
}

#detail main aside .size {
    width: 360px;
    height: 70px;
    margin-top: 20px;
}

#detail main aside .size div {
    float: left;
    width: 320px;
}

#detail main aside .num {
    margin-top: 10px;
}

#detail main aside .num div {
    width: 80px;
    height: 32px;
    border: 1px solid #ccc;
    margin-left: 34px;
}

#detail main aside .num div input {
    width: 54px;
    height: 30px;
    border: 0;
    outline: none;
    text-align: center;
    border-right: 1px solid #ccc;
    float: left;
}

#detail main aside .num div span {
    width: 22px;
    height: 15px;
    float: right;
    cursor: pointer;
}

#detail main aside .num div .up {
    background: url(../img/add.png) no-repeat center;
    border-bottom: 1px solid #ccc;
}

#detail main aside .num div .down {
    background: url(../img/remove.png) no-repeat center;
}

#detail main aside .button {
    width: 600px;
    height: 80px;
}

#detail main aside .button {
    width: 600px;
    height: 80px;
    margin-top: 40px;
}

#detail main aside .button button {
    width: 204px;
    height: 50px;
    border: 1px solid #e50065;
    cursor: pointer;
}

#detail main aside .button .buy {
    background: #fff;
    color: #e50065;
}

#detail main aside .button .addCart {
    margin-left: 30px;
    color: #fff;
    background: #e50065;
}

/* 购物车 */
#cart header {
    height: 26px;
    border-bottom: 1px solid #f4f4f4;
}

#cart header img {
    float: left;
    margin-left: 15px;
}

#cart header p {
    float: left;
    color: #747474;
    font-size: 12px;
    line-height: 26px;
    margin-left: 10px;
}

#cart header ul {
    float: right;
    color: #747474;
    font-size: 12px;
    line-height: 26px;
}

#cart header ul li {
    float: left;
    padding: 0 5px;
}

#cart header ul li a {
    font-size: 12px;
    color: #747474;
}

#cart main {
    border: 1px solid #f4f4f4;
    margin-top: 100px;
}

#cart main #title {
    height: 36px;
    background: #ebebeb;
}

#cart main #title input {
    float: left;
    margin-left: 93px;
    margin-top: 12px;
}

#cart main #title p {
    float: left;
    color: #414141;
    font-size: 12px;
    margin-top: 12px;
}

#cart main #title p:nth-of-type(1) {
    margin-left: 10px;
}

#cart main #title p:nth-of-type(2) {
    margin-left: 220px;
}

#cart main #title p:nth-of-type(3) {
    margin-left: 230px;
}

#cart main #title p:nth-of-type(4) {
    margin-left: 100px;
}

#cart main #title p:nth-of-type(5) {
    margin-left: 110px;
}

#cart main #title p:nth-of-type(6) {
    margin-left: 110px;
}
